In [1]:
import numpy as np
import pandas as pd

# Tampilkan semua kolom
pd.set_option('display.max_columns', None)

In [2]:
base_dir = "C:\Purwadhika\Dataset\\"
path = base_dir + "Airbnb_Bangkok.csv"
df = pd.read_csv(path)
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Bintang\AppData\Local\Temp\ipykernel_20688\669406056.py:1: SyntaxWarning: invalid escape sequence '\P'
  base_dir = "C:\Purwadhika\Dataset\\"

,Unnamed: 0,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,0,27934,Nice room with superb city view,120437,Nuttee,Ratchathewi,13.75983,100.54134,Entire home/apt,1905,3,65,2020-01-06,0.50,2,353,0
1,1,27979,"Easy going landlord,easy place",120541,Emy,Bang Na,13.66818,100.61674,Private room,1316,1,0,NaN,NaN,2,358,0
2,2,28745,modern-style apartment in Bangkok,123784,Familyroom,Bang Kapi,13.75232,100.62402,Private room,800,60,0,NaN,NaN,1,365,0
3,3,35780,Spacious one bedroom at The Kris Condo Bldg. 3,153730,Sirilak,Din Daeng,13.78823,100.57256,Private room,1286,7,2,2022-04-01,0.03,1,323,1
4,4,941865,Suite Room 3 at MetroPoint,610315,Kasem,Bang Kapi,13.76872,100.63338,Private room,1905,1,0,NaN,NaN,3,365,0

In [3]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [4]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,27934,Nice room with superb city view,120437,Nuttee,Ratchathewi,13.759830,100.541340,Entire home/apt,1905,3,65,2020-01-06,0.50,2,353,0
1,27979,"Easy going landlord,easy place",120541,Emy,Bang Na,13.668180,100.616740,Private room,1316,1,0,NaN,NaN,2,358,0
2,28745,modern-style apartment in Bangkok,123784,Familyroom,Bang Kapi,13.752320,100.624020,Private room,800,60,0,NaN,NaN,1,365,0
3,35780,Spacious one bedroom at The Kris Condo Bldg. 3,153730,Sirilak,Din Daeng,13.788230,100.572560,Private room,1286,7,2,2022-04-01,0.03,1,323,1
4,941865,Suite Room 3 at MetroPoint,610315,Kasem,Bang Kapi,13.768720,100.633380,Private room,1905,1,0,NaN,NaN,3,365,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15849,790465040741092826,素坤逸核心两房公寓42楼，靠近BTSon nut/无边天际泳池观赏曼谷夜景/出门当地美食街,94899359,Renee,Pra Wet,13.715132,100.653458,Private room,2298,28,0,NaN,NaN,1,362,0
15850,790474503157243541,Euro LuxuryHotel PratunamMKt TripleBdNrShoping...,491526222,Phakhamon,Ratchathewi,13.753052,100.538738,Private room,1429,1,0,NaN,NaN,14,365,0
15851,790475335086864240,Euro LuxuryHotel PratunamMKt TwinBedNrShopingArea,491526222,Phakhamon,Ratchathewi,13.753169,100.538700,Private room,1214,1,0,NaN,NaN,14,365,0
15852,790475546213717328,Euro LuxuryHotel PratunamMKt TwinBedNrShopingArea,491526222,Phakhamon,Ratchathewi,13.754789,100.538757,Private room,1214,1,0,NaN,NaN,14,365,0
15853,790476492384199044,Euro LuxuryHotel PratunamMKt TwinBedNrShopingArea,491526222,Phakhamon,Ratchathewi,13.752960,100.540820,Private room,1214,1,0,NaN,NaN,14,365,0

In [5]:
df["name"].fillna("Unnamed Listing", inplace=True)
df["reviews_per_month"].fillna(0, inplace=True)
df["last_review"] = pd.to_datetime(df["last_review"], errors='coerce')

C:\Users\Bintang\AppData\Local\Temp\ipykernel_20688\344690576.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["name"].fillna("Unnamed Listing", inplace=True)
C:\Users\Bintang\AppData\Local\Temp\ipykernel_20688\344690576.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["reviews_per_month"].fillna(0, inplace=True)

In [6]:
df[df['name'] == 'Unnamed Listing']

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
439,4549768,Unnamed Listing,18852579,Titawan,Phra Khanong,13.69406,100.59619,Private room,1080,5,0,NaT,0.00,1,365,0
544,4720818,Unnamed Listing,24386225,Cherry,Din Daeng,13.77562,100.57346,Private room,1200,1,0,NaT,0.00,1,365,0
572,4245018,Unnamed Listing,22030043,Parichart,Bang Phlat,13.78376,100.49821,Private room,1200,1,0,NaT,0.00,1,365,0
669,6148415,Unnamed Listing,31895202,Chira,Bang Na,13.68276,100.60894,Entire home/apt,2424,2,0,NaT,0.00,1,365,0
1030,8055144,Unnamed Listing,42521288,Nantida,Vadhana,13.74126,100.55761,Private room,5000,3,0,NaT,0.00,1,365,0
1282,10000742,Unnamed Listing,51374914,Diamond Bangkok,Ratchathewi,13.75328,100.52928,Private room,930,1,6,2017-05-13,0.07,1,365,0
1594,10710165,Unnamed Listing,55347997,Khaneungnit,Vadhana,13.71757,100.60464,Private room,1000,1,0,NaT,0.00,1,365,0
2075,13142743,Unnamed Listing,73275200,Pakaphol,Khlong Toei,13.72566,100.56416,Private room,850,1,2,2017-12-11,0.03,3,220,0

In [7]:
df[df['reviews_per_month'] == 0]

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
1,27979,"Easy going landlord,easy place",120541,Emy,Bang Na,13.668180,100.616740,Private room,1316,1,0,NaT,0.0,2,358,0
2,28745,modern-style apartment in Bangkok,123784,Familyroom,Bang Kapi,13.752320,100.624020,Private room,800,60,0,NaT,0.0,1,365,0
4,941865,Suite Room 3 at MetroPoint,610315,Kasem,Bang Kapi,13.768720,100.633380,Private room,1905,1,0,NaT,0.0,3,365,0
7,1738669,1 chic bedroom apartment in BKK,7045870,Jiraporn,Chatu Chak,13.829250,100.567370,Entire home/apt,1461,1,0,NaT,0.0,1,365,0
14,959254,"Deluxe Condo, Nana, Pool/GYM/Sauna",5153476,Natcha,Khlong Toei,13.715160,100.568060,Entire home/apt,1400,30,0,NaT,0.0,1,365,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15849,790465040741092826,素坤逸核心两房公寓42楼，靠近BTSon nut/无边天际泳池观赏曼谷夜景/出门当地美食街,94899359,Renee,Pra Wet,13.715132,100.653458,Private room,2298,28,0,NaT,0.0,1,362,0
15850,790474503157243541,Euro LuxuryHotel PratunamMKt TripleBdNrShoping...,491526222,Phakhamon,Ratchathewi,13.753052,100.538738,Private room,1429,1,0,NaT,0.0,14,365,0
15851,790475335086864240,Euro LuxuryHotel PratunamMKt TwinBedNrShopingArea,491526222,Phakhamon,Ratchathewi,13.753169,100.538700,Private room,1214,1,0,NaT,0.0,14,365,0
15852,790475546213717328,Euro LuxuryHotel PratunamMKt TwinBedNrShopingArea,491526222,Phakhamon,Ratchathewi,13.754789,100.538757,Private room,1214,1,0,NaT,0.0,14,365,0
15853,790476492384199044,Euro LuxuryHotel PratunamMKt TwinBedNrShopingArea,491526222,Phakhamon,Ratchathewi,13.752960,100.540820,Private room,1214,1,0,NaT,0.0,14,365,0

In [8]:
# Mengecek jumlah duplikat pada tiap kolom
duplicate_counts = {col: df.duplicated(subset=[col]).sum() for col in df.columns}
duplicate_counts

{'id': 0,
 'name': 1059,
 'host_id': 9195,
 'host_name': 10541,
 'neighbourhood': 15804,
 'latitude': 6248,
 'longitude': 5630,
 'room_type': 15850,
 'price': 12814,
 'minimum_nights': 15768,
 'number_of_reviews': 15556,
 'last_review': 14184,
 'reviews_per_month': 15340,
 'calculated_host_listings_count': 15804,
 'availability_365': 15488,
 'number_of_reviews_ltm': 15769}

In [9]:
df.duplicated().sum()

0

In [10]:
df[['price', 'minimum_nights', 'reviews_per_month']].describe()

              price  minimum_nights  reviews_per_month
count  1.585400e+04    15854.000000       15854.000000
mean   3.217704e+03       15.292355           0.516178
std    2.497212e+04       50.815020           0.952753
min    0.000000e+00        1.000000           0.000000
25%    9.000000e+02        1.000000           0.000000
50%    1.429000e+03        1.000000           0.090000
75%    2.429000e+03        7.000000           0.670000
max    1.100000e+06     1125.000000          19.130000

In [11]:
df = df[df['price'] > 0]
df = df[df['minimum_nights'] <= 365]  # Misal, 1 tahun dianggap maksimal wajar

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15838 entries, 0 to 15853
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              15838 non-null  int64
 1   name                            15838 non-null  object
 2   host_id                         15838 non-null  int64
 3   host_name                       15837 non-null  object
 4   neighbourhood                   15838 non-null  object
 5   latitude                        15838 non-null  float64
 6   longitude                       15838 non-null  float64
 7   room_type                       15838 non-null  object
 8   price                           15838 non-null  int64
 9   minimum_nights                  15838 non-null  int64
 10  number_of_reviews               15838 non-null  int64
 11  last_review                     10057 non-null  datetime64[ns]
 12  reviews_per_month               15838 non-null  float64
 13  calculated_host_listings_count  15838 non-null  int64
 14  availability_365                15838 non-null  int64
 15  number_of_reviews_ltm           15838 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8), object(4)
memory usage: 2.1+ MB

In [13]:
df['price'].min()

278

In [14]:
df['minimum_nights'].max()

365

In [15]:
# Apakah semua lokasi berada di Bangkok?
df[['latitude', 'longitude']].describe()

           latitude     longitude
count  15838.000000  15838.000000
mean      13.745147    100.559897
std        0.043038      0.050917
min       13.527300    100.329550
25%       13.720092    100.529690
50%       13.738490    100.561400
75%       13.759497    100.585148
max       13.953540    100.923440

In [16]:
duplicate_subset = ["name", "host_id", "latitude", "longitude"]

duplicates = df[df.duplicated(subset=duplicate_subset, keep=False)]

#hasilnya
print(f"Jumlah duplikat berdasarkan kombinasi {duplicate_subset}: {len(duplicates)}")
duplicates.sort_values(by=duplicate_subset).head(10)

Jumlah duplikat berdasarkan kombinasi ['name', 'host_id', 'latitude', 'longitude']: 98

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
15140,767854746382894709,15days!New!Bang Phlat MRT 600m/swiming pool/gym,52161947,Noons,Bang Phlat,13.788938,100.503600,Entire home/apt,885,15,0,NaT,0.00,99,320,0
15251,770020360658818433,15days!New!Bang Phlat MRT 600m/swiming pool/gym,52161947,Noons,Bang Phlat,13.788938,100.503600,Entire home/apt,708,15,0,NaT,0.00,99,323,0
14429,727179198031873152,15days!New!Bang Phlat MRT 600m/swiming pool/gym,201677068,Curry,Bang Phlat,13.788938,100.503600,Entire home/apt,883,15,0,NaT,0.00,228,253,0
14479,737304241187219763,15days!New!Bang Phlat MRT 600m/swiming pool/gym,201677068,Curry,Bang Phlat,13.788938,100.503600,Entire home/apt,883,15,1,2022-11-26,0.91,228,328,1
15649,787319837792430707,2 Beds Thong lor/Ekkamai/Nana/Swimming pool,485413319,Yang,Khlong Toei,13.722669,100.576863,Entire home/apt,1733,1,0,NaT,0.00,4,352,0
15784,787296571117687159,2 Beds Thong lor/Ekkamai/Nana/Swimming pool,485413319,Yang,Khlong Toei,13.722669,100.576863,Entire home/apt,2304,1,0,NaT,0.00,4,356,0
13856,709010335531810208,30days! Sukhumvit NANA spacious 2BR 4PPL near BTS,201677068,Curry,Ratchathewi,13.750300,100.555503,Entire home/apt,4193,2,2,2022-11-15,0.73,228,352,2
14015,711118986202155661,30days! Sukhumvit NANA spacious 2BR 4PPL near BTS,201677068,Curry,Ratchathewi,13.750300,100.555503,Entire home/apt,4193,2,1,2022-11-17,0.71,228,347,1
15106,766937913048085357,"50m MRT, Big C, 1 BR condo with Sauna, Pool & Gym",472715937,Kotcharat,Bang Sue,13.828505,100.527433,Entire home/apt,561,12,0,NaT,0.00,8,322,0
15116,767061827877321023,"50m MRT, Big C, 1 BR condo with Sauna, Pool & Gym",472715937,Kotcharat,Bang Sue,13.828505,100.527433,Entire home/apt,560,12,0,NaT,0.00,8,329,0

In [17]:
df["room_type"] = df["room_type"].str.strip().str.lower()

In [22]:
df['price'].max()

1100000

In [23]:
df['price'].min()

278

In [24]:
price_99_5 = df["price"].quantile(0.995)
df["is_price_outlier"] = df["price"] > price_99_5

In [26]:
df['price'].max()

1100000

In [27]:
df["neighbourhood"] = df["neighbourhood"].str.strip().str.title()

In [28]:
df['neighbourhood']

0        Ratchathewi
1            Bang Na
2          Bang Kapi
3          Din Daeng
4          Bang Kapi
            ...
15849        Pra Wet
15850    Ratchathewi
15851    Ratchathewi
15852    Ratchathewi
15853    Ratchathewi
Name: neighbourhood, Length: 15838, dtype: object

In [29]:
df.rename(columns={'neighbourhood': 'district'}, inplace=True)

In [30]:
df

,id,name,host_id,host_name,district,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,is_price_outlier
0,27934,Nice room with superb city view,120437,Nuttee,Ratchathewi,13.759830,100.541340,entire home/apt,1905,3,65,2020-01-06,0.50,2,353,0,False
1,27979,"Easy going landlord,easy place",120541,Emy,Bang Na,13.668180,100.616740,private room,1316,1,0,NaT,0.00,2,358,0,False
2,28745,modern-style apartment in Bangkok,123784,Familyroom,Bang Kapi,13.752320,100.624020,private room,800,60,0,NaT,0.00,1,365,0,False
3,35780,Spacious one bedroom at The Kris Condo Bldg. 3,153730,Sirilak,Din Daeng,13.788230,100.572560,private room,1286,7,2,2022-04-01,0.03,1,323,1,False
4,941865,Suite Room 3 at MetroPoint,610315,Kasem,Bang Kapi,13.768720,100.633380,private room,1905,1,0,NaT,0.00,3,365,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15849,790465040741092826,素坤逸核心两房公寓42楼，靠近BTSon nut/无边天际泳池观赏曼谷夜景/出门当地美食街,94899359,Renee,Pra Wet,13.715132,100.653458,private room,2298,28,0,NaT,0.00,1,362,0,False
15850,790474503157243541,Euro LuxuryHotel PratunamMKt TripleBdNrShoping...,491526222,Phakhamon,Ratchathewi,13.753052,100.538738,private room,1429,1,0,NaT,0.00,14,365,0,False
15851,790475335086864240,Euro LuxuryHotel PratunamMKt TwinBedNrShopingArea,491526222,Phakhamon,Ratchathewi,13.753169,100.538700,private room,1214,1,0,NaT,0.00,14,365,0,False
15852,790475546213717328,Euro LuxuryHotel PratunamMKt TwinBedNrShopingArea,491526222,Phakhamon,Ratchathewi,13.754789,100.538757,private room,1214,1,0,NaT,0.00,14,365,0,False
15853,790476492384199044,Euro LuxuryHotel PratunamMKt TwinBedNrShopingArea,491526222,Phakhamon,Ratchathewi,13.752960,100.540820,private room,1214,1,0,NaT,0.00,14,365,0,False

In [32]:
df.to_csv(base_dir + "Airbnb_Bangkok_cleaned.csv", index=False)